/* Add a black background color to the top navigation */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footers {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #3E363F;
  color: white;
  text-align: bottom;
  float: bottom;
  padding-left: 160px;
}

.content {
  text-align: center;
  padding-top: 20px;
  margin-left: 200px;
}